.header {
    margin-top: 1em;
    line-height: 48px; 
}

.header a {
    text-align: left;
    text-decoration: none;
    color: #616138; 
    font-family: 'Playfair Display', serif;
    font-size: 30px; 
    font-weight: normal; 
    margin-left: 1em;
}

.header a:hover {
    color: #4B4E2A;
}

.search-bar {
    float: right;
    margin-top: 0.2em;
    margin-right: 1.2em;
}

.search-bar input {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: white;
    font-family: Georgia, serif;;
    font-size: 16px;
}

.search-bar input:hover {
    border: 2px solid #cdcdcd;
}
  

.footer {
    color: #616138; 
    font-family: Georgia;
    font-size: 15px; 
    font-weight: normal; 
    text-align: center;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}