.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1em 1em 1em;
    line-height: 48px; 
}

.header a {
    text-decoration: none;
    color: #616138; 
    font-family: 'Playfair Display', serif;
    font-size: 30px; 
    font-weight: normal; 
}

.header a:hover {
    color: #4B4E2A;
}


@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
}

.search-bar input {
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: white;
    font-family: Georgia, serif;;
    font-size: 16px;
}

.search-bar input:hover {
    border: 2px solid #cdcdcd;
}
  

.footer {
    color: #616138; 
    font-family: Georgia;
    font-size: 15px; 
    font-weight: normal; 
    text-align: center;
}