.comment-item {
    background-color: #FCFAF2;
    border-radius: 5px;
    margin: 1em 1em;
    padding: .5em;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.comment-item .date {
    color: #91989F;
    font-family: sans-serif;
    font-size: 10px;
    float: right;
    margin-right: 1em;
}

.comment-item .user {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

.comment-item .content {
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}

.comment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-form .inputarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.comment-form textarea {
    background-color: #FCFAF2;
    border-radius: 5px;
    margin: 0.5em 0.5em 0.5em 1em;
    padding: 0.5em;
    
}

.comment-form input {
    background-color: #FCFAF2;
    border-radius: 5px;
    margin: 0.5em 0.5em 0.5em 1em;
    padding: 0.5em;
}

.comment-form button {
    min-width: 3em;
    background-color: #FCFAF2;
    border-radius: 5px;
    margin: 0.5em 1em 0.5em 0.5em;
    padding: .5em;
}